# Application
disco

# User files
Makefile_dir.in
Makefile_opt.in
in.par*

# Output files
*.dat
*.h5
*.log

# Viewer files
Viewer/vdisco
*.png

# Build/editor files
*.o
*.swp

# Viewer files
Viewer/*.png
Viewer/vdisco

