# Application
disco

# User files
Makefile_dir.in*
Makefile_opt.in*
in.par*

# Output files
*.dat
*.h5
*.log

# Build/editor files
*.o
*.swp
.DS_Store

# Viewer files
Viewer/Movies/
Viewer/movie.py
Viewer/vdisco
*.png
*.eps
*.ppm

